.trains {
  padding: 13px;
  background: skyblue;
  color: white;
  font-style: italic;
  font-size: 19px;
  border: 1px solid skyblue;
  border-radius: 5px;
  width: 234px;
}
.giriStyle{
  width: 25px;
  height: 55px;
    background-color: green !important;
    color: white !important;
    border: 1px solid green !important;
}
